//Definindo classe padrão de botão

$secure-color: #7447e1;
$secure-hover-color: #5d36b3;
$secure-text-hover-color: #eae7ff;

.bttn-secure {
    background-color: $secure-color !important;
    border-color: $secure-color !important;
    color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  
    &:hover {
      background-color: $secure-hover-color !important;
      border-color: $secure-hover-color !important;
      color: $secure-text-hover-color !important;
    }
  }

.menu-secure{
  background-color: $secure-color !important;

}